
{% extends 'baselayout.html'%}
{% load widget_tweaks %}
{% load socialaccount %}
{% load static %}
{% block content %}
    
        <link rel="stylesheet" type="text/css" href="{% static '/styles/login.css'%}">
    <title>PriceZilla</title>
</head>
<body>
    <header class="header"> 
        <div class="header-inner" id="navscroll">
          <div class="container">
            <nav class="navbar navbar-expand-md my-navbar">

                <div class="account-icon"><i class="bi bi-person-circle h1"></i></div>
        <a class="navbar-brand logo" href="./index.html"><span>
          <img src="{% static '/assets/Pricezilla logo.png'%}"  style="width: 8rem "></span>
        </a>
        <button class="navbar-toggler slime" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link" href={% url 'index' %}>Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" 
                 href="#" id="navbarDropdown" 
                 role="button" 
                 data-toggle="dropdown" 
                 aria-haspopup="true" 
                 aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Laptops</a>
                <a class="dropdown-item" href="#">Phones</a>
                <a class="dropdown-item" href="#">Accessories</a>
                <a class="dropdown-item" href="#">Home Appliances</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'about' %}>About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Wishlist</a>
            </li>
          </ul>
          <div class="form-inline my-lg-0 login-signup">
            
            <a class="header-btn  my-sm-0" href={% url 'login' %}>Login</a>
            <a class="header-btn  my-sm-0"  href={% url 'signup' %}> Sign Up</a>
          </div>
        </div>
      </nav>
      
          </div>
        </div>
      </header> 


    <main class="container-lg login">

        <section class="login-first">
          <h6>SIGN IN TO ENJOY GREAT OFFERS FROM PRICEZILLA</h6>
        </section>

        <section class="login-second">
          <form action={% url 'login' %} method="post">
            {% csrf_token %}
    
           <p class="login-second-1">{{ form.email.label_tag }}</p>
           <div class="login-second-1b">
            {% render_field form.email class+="form-control" %}
            {{ form.email.errors }}
          </div>
          <br>
            <p class="login-second-1">{{ form.password.label_tag }}</p>
            <div class="login-second-1b">
               {% render_field form.password class+="form-control" %}
              {{ form.password.errors }}
              {% comment %} <input type="password" name="password" id="password" required>  {% endcomment %}
              {% comment %} {% comment %} <a href=""><img src="{% static '/assets/icons/ant-design_eye-invisible-outlined.svg'%}" alt=""></a> {% endcomment %}
            </div> 
           {% comment %} <div class="form-group line-2">
             {% comment %} <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="e.g johndoe@gmail.com" required> {% endcomment %}
               {% comment %} {{ form.email.label_tag }}
              {% render_field form.email class+="form-control" %}
              {{ form.email.errors }}
            </div> 
            {{form.as_p}} {% endcomment %}
            
    
            {% comment %} <div class="form-group line-3">
              <label for="password">Password</label>
            <div class="toggle-password">
              <input type="password" name="password" id="password" class="form-control" required>
              <i class="bi bi-eye-slash visibility-icon"></i>
              </div>
              {{ form.password.label_tag }}
              {% render_field form.password class+="form-control" %}
              {{ form.password.errors }}
            
            </div> {% endcomment %}
            <div class="login-second-2">
              <div class="login-second-2-first">
                <input type="checkbox" name="checkbox" id="checkbox">
                <small>Stay signed in</small>
              </div>
              <div class="login-second-2-second">
                <a href=""><small>Forget password?</small></a>
              </div>
            </div>
            <input type="submit" value="Sign In" id="submit">

            <div class="login-second-3">
              <span></span>
              <p>OR</p>
              <span></span>
            </div>

            <div class="login-second-4">
              <img src="{% static '/assets/icons/flat-color-icons_google.svg'%}" alt="">
              <a href="{% provider_login_url 'google' %}"><small>Continue with Google</small></a>
              </div>

              <div class="login-second-5">
                <img src="{% static '/assets/icons/logos_facebook.svg'%}" alt="">
                <a href="{% provider_login_url 'facebook' %}"><small>Continue with FaceBook</small></a>
                </div>

                <div class="login-second-6">
                  <p>Not a member?</p>
                  <a href={% url 'signup' %}>Sign up here</a>
                </div>
          </form>
        </section>

    </main>
    {% endblock %}