{% extends 'baselayout.html'%}
{% load static from static %}
<!-- {% comment %} {% load socialaccount %} {% endcomment %} -->
<!-- {% load widget_tweaks %} -->


{%block content%}
<link rel="stylesheet" href="{% static '/styles/login.css'%}">
 <main class="container-lg login">

        <section class="login-first">
          <h6>SIGN IN TO ENJOY GREAT OFFERS FROM PRICEZILLA</h6>
        </section>

        <section class="login-first-mobile">
          <h1>WELCOME BACK</h1>
          <div class="login-first-mobile-1">
            <p>Not a member?</p>
            <a href="{% url 'signup'%}">Sign up here</a>
          </div>
        </section>

        <section class="login-second">
          <form class="form" method="post">
            {% csrf_token %}
            <p class="login-second-1">Username</p>
            <input type="text" name="username" id="username" placeholder="eg. Debbie14" required>
            <p class="login-second-1">Password</p>
            <div class="login-second-1b">
              <input type="password" name="password" id="password" required>
              <a href=""><img src="{% static 'assets/icons/ant-design_eye-invisible-outlined.svg  '%}" alt=""></a>
            </div>

            <div class="login-second-2">
              <div class="login-second-2-first">
                <input type="checkbox" name="checkbox" id="checkbox">
                <small>Stay signed in</small>
              </div>
              <div class="login-second-2-second">
                <a href=""><small>Forget password?</small></a>
              </div>
            </div>
            <input type="submit" value="Sign In" id="submit">
            <div class="login-second-2-third">
              <a href=""><small>Forget password?</small></a>
            </div>
            

            <div class="login-second-3">
              <span></span>
              <p>OR</p>
              <span></span>
            </div>

            <div class="login-second-4">
              <img src="{% static 'assets/icons/flat-color-icons_google.svg '%}" alt="">
              <a href=""><small>Continue with Google</small></a>
              </div>

              <div class="login-second-5">
                <img src="{% static 'assets/icons/logos_facebook.svg  '%}" alt="">
                <a href=""><small>Continue with FaceBook</small></a>
                </div>

                <div class="login-second-6">
                  <p>Not a member?</p>
                  <a href="{% url 'signup'%}">Sign up here</a>
                </div>
          </form>
        </section>

    </main>
    {%endblock%}

    <!-- <main class="container-lg login">

        <section class="login-first">
          <h6>SIGN IN TO ENJOY GREAT OFFERS FROM PRICEZILLA</h6>
        </section>

        <section class="login-second">
          <form action={% url 'login' %} method="post">
            {% csrf_token %}
    
           <p class="login-second-1">{{ form.email.label_tag }}</p>
           <div class="login-second-1b">
            {% render_field form.email class+="form-control" %}
            {{ form.email.errors }}
          </div>
          <br>
            <p class="login-second-1">{{ form.password.label_tag }}</p>
            <div class="login-second-1b">
               {% render_field form.password class+="form-control" %}
              {{ form.password.errors }}
              {% comment %} <input type="password" name="password" id="password" required>  {% endcomment %}
              {% comment %} {% comment %} <a href=""><img src="{% static '/assets/icons/ant-design_eye-invisible-outlined.svg'%}" alt=""></a> {% endcomment %}
            </div> 
           {% comment %} <div class="form-group line-2">
             {% comment %} <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="e.g johndoe@gmail.com" required> {% endcomment %}
               {% comment %} {{ form.email.label_tag }}
              {% render_field form.email class+="form-control" %}
              {{ form.email.errors }}
            </div> 
            {{form.as_p}} {% endcomment %}
            
    
            {% comment %} <div class="form-group line-3">
              <label for="password">Password</label>
            <div class="toggle-password">
              <input type="password" name="password" id="password" class="form-control" required>
              <i class="bi bi-eye-slash visibility-icon"></i>
              </div>
              {{ form.password.label_tag }}
              {% render_field form.password class+="form-control" %}
              {{ form.password.errors }}
            
            </div> {% endcomment %}
            <div class="login-second-2">
              <div class="login-second-2-first">
                <input type="checkbox" name="checkbox" id="checkbox">
                <small>Stay signed in</small>
              </div>
              <div class="login-second-2-second">
                <a href=""><small>Forget password?</small></a>
              </div>
            </div>
            <input type="submit" value="Sign In" id="submit">

            <div class="login-second-3">
              <span></span>
              <p>OR</p>
              <span></span>
            </div>

            <div class="login-second-4">
              <img src="{% static '/assets/icons/flat-color-icons_google.svg'%}" alt="">
              <a href=""><small>Continue with Google</small></a>
              </div>

              <div class="login-second-5">
                <img src="{% static '/assets/icons/logos_facebook.svg'%}" alt="">
                <a href=""><small>Continue with FaceBook</small></a>
                </div>

                <div class="login-second-6">
                  <p>Not a member?</p>
                  <a href={% url 'signup' %}>Sign up here</a>
                </div>
          </form>
        </section> -->

    <!-- </main> -->
    


   