{%load static from static %}





    <footer class="footer">
        <div class="container">
        <div class="footer-logo"><h1>Pricezilla</h1></div>

        <div class="grid-container">
        <div class="footer-flexbox">
           
           <div class="footer-list">
               <h5>Information</h5>
               <p>About PriceZilla</p>
               <p>Reviews</p>
               <p>Contact - PriceZilla</p>
               <p>Register your shop</p>
               <p>Help Center</p>
   
           </div>
           <div class="footer-list guidelines">
               <h5>Guidelines</h5>
               <p>Terms and Conditions</p>
               <p>Disclaimer</p>
               <p>Privacy Policy</p>
               <p>Cookie Policy</p>
               <p>Privacy Settings</p>
           </div>
           <div class="footer-list">
               <h5>On PriceZilla</h5>
               <p>Themes and Campaigns</p>
               <p>Newsroom</p>
               <p>Articles</p>
               <p>Shop of the year</p>
               <p>Categories</p>
           </div>

           <div class="email-support-mobile">
            <div class="email-icon">
                <i class="bi bi-envelope h1"></i>
            </div>
            <div class="email">
                <h5>Email Support</h5>
                <p>help@pricezilla.com</p>
                <div class="footer-icons">
                    <img src="./assets/facebook-icon.png" alt="facebook-icon"/>
                    <img src="./assets/twitter-icon.png" class="spaced-icon" alt="facebook-icon"/>
                    <img src="./assets/youtube-icon.png" class="spaced-icon" alt="facebook-icon"/>
                    <img src="./assets/instagram-icon.png" class="spaced-icon" alt="facebook-icon"/>

                </div>
            </div>
        </div>
       </div>
    </div>
        
    <div class="news-email-flexbox">
        <div class="newsletter">
            <h5>Subscribe to our newsletter</h5>
            <form>
                <input type="email" placeholder="enter email address" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>

        <div class="email-support">
            <div class="email-icon">
                <i class="bi bi-envelope h1"></i>
            </div>
            <div class="email">
                <h5>Email Support</h5>
                <p>help@pricezilla.com</p>
                <div class="footer-icons">
                    <img src="{% static '/assets/facebook-icon.png'%}" alt="facebook-icon"/>
                    <img src="{% static '/assets/twitter-icon.png'%}" alt="facebook-icon"/>
                    <img src="{% static '/assets/youtube-icon.png'%}" alt="facebook-icon"/>
                    <img src="{% static '/assets/instagram-icon.png'%}" alt="facebook-icon"/>

                </div>
            </div>
        </div>

    </div>
</div>
</footer>