<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="../styles/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/footerlinks.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>PriceZilla</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <a class="navbar-brand"
            ><img src="../assets/Pricezilla logo.png" alt="PriceZilla logo"
          /></a>
          <div class="newsletter">
            <h5>Subscribe to our newsletter</h5>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Enter email address"
                aria-label="Enter email address"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button class="btn" type="button" id="button-addon2">
                  subscribe
                </button>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <section class="section">
          <span
            ><a href="">Home</a>
            <i class="fa-solid fa-greater-than"></i> Contact - Pricezilla</span
          >
          <h2>Contact</h2>
          <p>
            Our support answers questions from users and shops <br />
            Click here to get in contact with our support
          </p>
        </section>

        <section class="section">
          <h2>Merchants &amp; Advertising</h2>
          <p>
            The sales department will help you to feature your shop <br />
            <a href="mailto:sales@pricezilla.co.uk">sales@pricezilla.co.uk</a>
          </p>
        </section>

        <section class="section">
          <h2>Media Contact</h2>

          <p>
            Our media contact answers media enquiries and assists with facts
            <br />
            <a href="mailto:media@pricezilla.co.uk">media@pricezilla.co.uk</a>
          </p>
        </section>

        <section class="section">
          <h2>Finance</h2>

          <p>
            Our finance department takes care of financial queries
            <br />
            <a href="mailto:finance@pricezilla.co.uk"
              >finance@pricezilla.co.uk</a
            >
          </p>
        </section>

        <section class="section">
          <h2>Address</h2>

          <address>
            Pricezilla Ltd /Arizona LTD <br />
            UK HOUSE <br />
            098 Andela Street <br />
            W1D 1NN London
          </address>
        </section>

        <section class="section">
          <h2>Company Information</h2>
          <p>
            Pricezilla is provided by Pricezilla Ltd, a part of the Schibsted
            group. <br />
            <a href="tel:+08513484">Company number: 08513484</a> <br />
            CEO: Babalola Emmanuel
          </p>
        </section>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="footer-logo"><h1>Pricezilla</h1></div>

        <!--           DESKTOP VIEW FOOTER      -->

        <div class="desktop-footer">
          <div class="footer-flexbox">
            <div class="footer-list">
              <h5>Information</h5>
              <a href="">About PriceZilla</a>
              <a href="./how-we-show-reviews.html">Reviews</a>
              <a href="#">Contact - PriceZilla</a>
              <a href="./register-shop.html">Register your shop</a>
              <a href="">Help Center</a>
            </div>
            <div class="footer-list guidelines">
              <h5>Guidelines</h5>
              <a href="./rules-and-guidelines.html">Terms and Conditions</a>
              <a href="">Disclaimer</a>
              <a href="">Privacy Policy</a>
              <a href="">Cookie Policy</a>
              <a href="">Privacy Settings</a>
            </div>
            <div class="footer-list on-pricezilla">
              <h5>On PriceZilla</h5>
              <a href="">Themes and Campaigns</a>
              <a href="">Newsroom</a>
              <a href="">Articles</a>
              <a href="">Shop of the year</a>
              <a href="">Categories</a>
            </div>
          </div>

          <div class="news-email-flexbox">
            <div class="newsletter">
              <h5>Subscribe to our newsletter</h5>
              <form>
                <input
                  type="email"
                  placeholder="enter email address"
                  required
                />
                <button type="submit">Subscribe</button>
              </form>
            </div>

            <div class="email-support">
              <div class="email-icon">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="email">
                <h5>Email Support</h5>
                <p>help@pricezilla.com</p>
                <div class="footer-icons">
                  <img src="../assets/facebook-icon.png" alt="facebook-icon" />
                  <img
                    class="spaced-icon"
                    src="../assets/twitter-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/youtube-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/instagram-icon.png"
                    alt="facebook-icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--                MOBILE VIEW FOOTER                    -->

        <div class="mobile-footer">
          <div class="footer-flexbox1">
            <div class="footer-list-mobile information-mobile">
              <h5>Information</h5>
              <a href="">About PriceZilla</a>
              <a href="./how-we-show-reviews.html">Reviews</a>
              <a href="#">Contact - PriceZilla</a>
              <a href="./register-shop.html">Register your shop</a>
              <a href="">Help Center</a>
            </div>
            <div class="footer-list-mobile guidelines-mobile">
              <h5>Guidelines</h5>
              <a href="./rules-and-guidelines.html">Terms and Conditions</a>
              <a href="">Disclaimer</a>
              <a href="">Privacy Policy</a>
              <a href="">Cookie Policy</a>
              <a href="">Privacy Settings</a>
            </div>
          </div>

          <div class="footer-flexbox2">
            <div class="footer-list-mobile pricezilla-mobile">
              <h5>On PriceZilla</h5>
              <a href="">Themes and Campaigns</a>
              <a href="">Newsroom</a>
              <a href="">Articles</a>
              <a href="">Shop of the year</a>
              <a href="">Categories</a>
            </div>

            <div class="email-support">
              <div class="email-icon">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="email">
                <h5>Email Support</h5>
                <p>help@pricezilla.com</p>
                <div class="footer-icons">
                  <img src="../assets/facebook-icon.png" alt="facebook-icon" />
                  <img
                    class="spaced-icon"
                    src="../assets/twitter-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/youtube-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/instagram-icon.png"
                    alt="facebook-icon"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="newsletter">
            <h5>Subscribe to our newsletter</h5>
            <form>
              <input type="email" placeholder="enter email address" required />
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      type="text/javascript"
      src="../PriceZilla-Front/scripts/index.js"
    ></script>
  </body>
</html>
