
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css"/>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="../styles/footerlinks.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PriceZilla</title>
  </head>
  <body>
    <header>
      <div class="container">
      <nav class="navbar">
        <a class="navbar-brand"><img src="../assets/Pricezilla logo.png" alt="PriceZilla logo"></a>
        <div class="newsletter">
          <h5>Subscribe to our newsletter</h5>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Enter email address" aria-label="Enter email address" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn" type="button" id="button-addon2">subscribe</button>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </header>

    <main>
      <div class="container">
        <section class="section">
          <span><a href="../index.html">Home</a> <i class="fa-solid fa-greater-than"></i> How we show reviews</span>
          <h1>How we show reviews</h1>
          <p>
            We want to make your shopping decisions easier and quite often other
            consumers’ opinions are the best guidelines when buying something.
            Therefore, we let users write reviews on products and shops.
          </p>

          <p>
            We have an extensive process in place to detect fake reviews. We do
            not allow user reviews written by companies, or by individuals with
            self-interest in the shop or the product, and we do not allow
            reviews written by users closely linked to such persons. <br />
            We do not allow reviews submitted in return for compensation, in any
            form.
          </p>
        </section>

        <section class="section">
          <h1>How reviews are written</h1>
          <p>We have three types of user reviews on Pricezilla:</p>

          <p>
            Product reviews <br />
            Product reviews can be written by users who are logged in on
            Pricezilla.
          </p>

          <p>
            Shop reviews written by logged in users <br />
            Shop reviews can be written by users who are logged in on
            Pricezilla.
          </p>

          <p>
            Instore shop reviews written during purchase <br />
            Instore shop reviews can be written by anyone during a purchase from
            a shop that has integrated our review system into their purchase
            process. We mark these reviews specifically when shown in our
            services.
          </p>
        </section>

        <section class="section">
          <h1/h1>How reviews are published</h1>

          <p>
            Product and shop reviews that are written by logged in users are
            published immediately. Instore shop reviews that are written during
            a purchase will be published when the user clicks on a link in the
            confirmation email sent to the user. Instore shop reviews will be
            published immediately when the user clicks on the activation link.
            If the user never clicks on the activation link, we never publish
            the review. <br />
            Users can edit their reviews at any time. Edited reviews will
            display the date last edited.
          </p>
          <p>
            The content of the reviews can be used anonymously to interpret and
            sum up the message, with the purpose of creating more simple and
            accessible information for our users.
          </p>
        </section>

        <section class="section">
          <h1/h1>How reviews are moderated</h1>

          <p>
            Pricezilla does not preview reviews before they are published, but
            we may moderate them at any time. We moderate a review when a user
            flags it for moderation, or when it has been marked as suspicious by
            our automatic review monitoring system.
          </p>

          <p>
            Some users and shops may be subjected to more frequent and manual
            controls if deemed to be necessary by us. We do this when a user or
            a shop has previously acted suspiciously, or contrary to our rules.
          </p>
          <p>
            When we moderate, we check that the review follows our Rules and
            guidelines for users and applicable laws. We notify users who get a
            review removed. We may also contact a user to ask for minor changes
            to a review in order to comply with our rules. <br />
            We moderate edited and already published reviews in the same way as
            new reviews.
          </p>
        </section>

        <section class="section">
          <h1/h1>How long we keep reviews</h1>

          <p>
            We show reviews until we no longer list the product or shop. We can
            also hide reviews if they don’t follow our rules. The user who wrote
            the review can remove it at any time.
          </p>

          <p>
            If a user account has been inactive for more than one year we
            anonymise the review.
          </p>
        </section>

        <section class="section">
          <h1/h1>How we share reviews between our markets</h1>
          <p>
            A review written by a user in one country may be published
            (translated or in its original language) on a PriceSpy site in
            another country. At the moment, Pricezilla operates, and shares
            reviews, in Denmark, Finland, France, New Zealand, Norway, Sweden
            and UK. We may operate and share reviews in additional countries in
            the future.
          </p>
        </section>

        <section class="section">
          <h1/h1>How our star ratings work</h1>
          <p>
            Users who write reviews also rate the product or shop. The rating
            consists of stars and is shown next to the review. We also summarise
            these ratings and show them as an overall rating in connection with
            the product or shop.
          </p>
          <p>
            The total rating is based on reviews from all Pricezilla countries.
            This means that shops that lack written reviews in one country can
            still have a total rating. <br />
            In the total shop rating, we only count reviews from the last year.
            We don't want to count outdated customer experiences. For products,
            we have no such time limit.
          </p>
          <p>
            If the product or the shop only has a few ratings, we pull the total
            rating towards the middle of the grading scale. Thus it is not
            possible for products or shops to get either the highest or lowest
            total rating if there are only a few reviews. Overall ratings that
            are based on a small number of extreme ratings probably do not
            provide a true and fair view of the product or shop. The highest and
            lowest total scores are therefore only earned when many users have
            had their say.
          </p>
        </section>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="footer-logo"><h1>Pricezilla</h1></div>

        <!--           DESKTOP VIEW FOOTER      -->

        <div class="desktop-footer">
          <div class="footer-flexbox">
            <div class="footer-list">
              <h5>Information</h5>
              <a href="">About PriceZilla</a>
              <a href="#">Reviews</a>
              <a href="./contact-pricezilla.html">Contact - PriceZilla</a>
              <a href="./register-shop.html">Register your shop</a>
              <a href="">Help Center</a>
            </div>
            <div class="footer-list guidelines">
              <h5>Guidelines</h5>
              <a href="./rules-and-guidelines.html">Terms and Conditions</a>
              <a href="">Disclaimer</a>
              <a href="">Privacy Policy</a>
              <a href="">Cookie Policy</a>
              <a href="">Privacy Settings</a>
            </div>
            <div class="footer-list on-pricezilla">
              <h5>On PriceZilla</h5>
              <a href="">Themes and Campaigns</a>
              <a href="">Newsroom</a>
              <a href="">Articles</a>
              <a href="">Shop of the year</a>
              <a href="">Categories</a>
            </div>
          </div>

          <div class="news-email-flexbox">
            <div class="newsletter">
              <h5>Subscribe to our newsletter</h5>
              <form>
                <input
                  type="email"
                  placeholder="enter email address"
                  required
                />
                <button type="submit">Subscribe</button>
              </form>
            </div>

            <div class="email-support">
              <div class="email-icon">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="email">
                <h5>Email Support</h5>
                <p>help@pricezilla.com</p>
                <div class="footer-icons">
                  <img src="../assets/facebook-icon.png" alt="facebook-icon" />
                  <img
                    class="spaced-icon"
                    src="../assets/twitter-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/youtube-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/instagram-icon.png"
                    alt="facebook-icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--                MOBILE VIEW FOOTER                    -->

        <div class="mobile-footer">
          <div class="footer-flexbox1">
            <div class="footer-list-mobile information-mobile">
              <h5>Information</h5>
              <a href="">About PriceZilla</a>
              <a href="#">Reviews</a>
              <a href="./contact-pricezilla.html">Contact - PriceZilla</a>
              <a href="./register-shop.html">Register your shop</a>
              <a href="">Help Center</a>
            </div>
            <div class="footer-list-mobile guidelines-mobile">
              <h5>Guidelines</h5>
              <a href="./rules-and-guidelines.html">Terms and Conditions</a>
              <a href="">Disclaimer</a>
              <a href="">Privacy Policy</a>
              <a href="">Cookie Policy</a>
              <a href="">Privacy Settings</a>
            </div>
          </div>

          <div class="footer-flexbox2">
            <div class="footer-list-mobile pricezilla-mobile">
              <h5>On PriceZilla</h5>
              <a href="">Themes and Campaigns</a>
              <a href="">Newsroom</a>
              <a href="">Articles</a>
              <a href="">Shop of the year</a>
              <a href="">Categories</a>
            </div>

            <div class="email-support">
              <div class="email-icon">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="email">
                <h5>Email Support</h5>
                <p>help@pricezilla.com</p>
                <div class="footer-icons">
                  <img src="../assets/facebook-icon.png" alt="facebook-icon" />
                  <img
                    class="spaced-icon"
                    src="../assets/twitter-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/youtube-icon.png"
                    alt="facebook-icon"
                  />
                  <img
                    class="spaced-icon"
                    src="../assets/instagram-icon.png"
                    alt="facebook-icon"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="newsletter">
            <h5>Subscribe to our newsletter</h5>
            <form>
              <input type="email" placeholder="enter email address" required />
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </footer>


    <!-- SCRIPTS -->

   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
           integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
           crossorigin="anonymous"></script>

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
           integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh1/h1IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
           crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
 <script type="text/javascript" src="../PriceZilla-Front/scripts/index.js"></script>
  </body>
</html>
