
{% extends 'baselayout.html' %}

{% load static%}

{% block content %}
<link rel="stylesheet" href="{% static '/styles/about.css'%}">

    <main class="main-container">



        <!-- About Us category -->
        <section class="point">
            <div class="category">
                <div class="lefty">
                    <h3><span>Ab</span>out us</h3>
                    <div class="shapes">
                        <div class="shape one">
                            <img src="{% static '/assets/about us 2 1.png'%}" alt="about">
                        </div>
                        <div class="shape two">
                            <img src="{% static '/assets/about us 1 1.jpg'%}" alt="about">
                        </div>
                    </div>
                </div>
                <div class="texts">
                    <div class="one">
                    <div class="textx">
                        <p>Choosing the most profitable pricing 
                            system stratagy? We’ve got You. We 
                            give you the ability to simplify without 
                            losing any quality.</p>
                    </div>
                    <div class="textx">
                        <p>We at Pricezilla go by the iron rule of 
                            financial markets in Economics. Therefore, 
                            you can spend less, save more while still 
                            buying quality. We bring you varieties of 
                            products to choose from and compare </p>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us category Ends -->

        <div class="intro">


            <!-- what we do -->

            <section class="frame-76">
                <div class="frame-55">
                    <h3>What we do?</h3>
                    <h6>We give you the ability to simplify without losing any quality</h6>
                    <p>At Pricezilla we provide you with varieties of home appliances that perform optimally in your<br>
                        home, getting the job done right at the first deal right at the first trial while comparing
                        prices.<br>
                        As our mission statement is “to give you the ability to simplify without losing any quality”.
                        We<br>
                        are committed to assisting you live a better, safer, healthier and more stylish life<br>

                    </p>
                </div>
                <div class="frame-50">


                    <img src="{% static '/assets/kitchen 1.png'%}" alt="about">




                </div>
            </section>

            <!-- what we do Ends-->


            <!-- Why Choose us -->

            <section class="second">
                <div class="frame-95">
                    <h3>Why choose us?</h3>
                </div>

                <div class="flex-container">
                    <div class="flex one">
                        <div class="match">

                            <img src="{% static '/assets/happy 1.png'%}">


                        </div>
                        <div class="text">
                            <h6>We provide varieties with quality</h6>
                            <p>I mean why not? We provide you with varieties of
                                qualities to pick from and compare. So shop
                                away right now</p>
                        </div>
                    </div>
                    <div class="flex one">
                        <div class="match">

                            <img src="{% static '/assets/home aagain 1.png' %}">


                        </div>
                        <div class="text">
                            <h6>We care about the style of your home</h6>
                            <p>Just name it, we’ve got you covered. We provide
                                you with beautiful home
                                appliances just to beautify your home. So shop away</p>
                        </div>
                    </div>
                    <div class="flex one">
                        <div class="match">

                            <img src="{% static '/assets/home aagain 1.png'%}">



                        </div>
                        <div class="text">
                            <h6>We provide products that works</h6>
                            <p>The products we have are highly durable.
                                They are not only durable but
                                they work incredibly well. Free free to check and compare</p>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Why Choose us Ends-->




            <!-- Testimonials row -->
            <section class="testimonial-row">
                <div class="frame-81">
                    <p>Testimonials</p>
                    <h5>What our happy Customers say</h5>
                </div>
                <div class="testimonials">
                    <div class="testimonial">

                        <div class="frame-80">

                            <div class="frame-77">
                                <div class="icons">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>“Pricezilla is my to go place
                                    to look for home appliances.
                                    maximum satisafaction always
                                    guaranteed”</p>
                            </div>

                            <div class="frame-79">
                                <div class="frame-4">
                                    <img src="{% static '/assets/Frame 4.png'%}">
                                </div>
                                <div class="frame-78">
                                    <h4>Freya shin ye</h4>
                                    <p>CEO, The Splash</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="testimonial">

                        <div class="frame-80">

                            <div class="frame-77">
                                <div class="icons">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </div>
                                <p>“Pricezilla has made life very
                                    easily for me. I sit at the
                                    comfort of my room and pick
                                    what I want and compare.”</p>
                            </div>

                            <div class="frame-79">
                                <div class="frame-4">
                                    <img src="{% static '/assets/Frame 41.png '%}">
                                </div>
                                <div class="frame-78">
                                    <h4>Flyod Milea</h4>
                                    <p>General Manager at Fintechify</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="frame-80">

                            <div class="frame-77">
                                <div class="icons">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>“LIfe made easy here. Apart
                                    from being able to compare
                                    prices, pricezilla gives their
                                    customer quality. Damn!”</p>
                            </div>

                            <div class="frame-79">
                                <div class="frame-4">
                                    <img src="{% static '/assets/Frame 43.png'%} ">
                                </div>
                                <div class="frame-78">
                                    <h4>Darrell Steward</h4>
                                    <p>Student @ Chicago University</p>
                                </div>
                            </div>


                        </div>
                    </div>
            </section>
            <!-- Testimonials row Ends-->



            <!-- question? -->
            <section class="question">
                <h3>You've got a question?<br>
                    We got you</h3>
                <div class="buttons">
                    <button class="faq">FAQS</button>
                    <a href="{%url 'contact'%}"> <button class="contact">Contact us</button></a>
                </div>
            </section>

            <!-- question?  Ends-->


            <!-- Go to shop -->
            <section class="shop">
                <img src="{% static '/assets/tele 1.png'%}" alt="ggg">
                <button class="primary">Go to shop</button>

            </section>
          
            



        </div>
    </main>

{% endblock %}