<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./styles/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Contact Page, PriceZilla</title>
  </head>

  <body>
    <header>
      <nav class="container">
        <h1 class="logo">PriceZilla</h1>
      </nav>
    </header>

    <main class="container">
      <div class="banner">
  
      </div>

      <section class="contact-content">
        <h2>We are at your service</h2>
        <p>
          PriceZilla customer service team is dedicated to providing you with
          adequate needed on our wide range to aid your final choice with the
          best-before-and-after sale support, we ensure that you have
          satisfaction for your money.
        </p>
        <p>
          One team members are trainedto provide custom services, taking into
          account your specific taste budget and lifestyle
        </p>
        <p>
          To speak to a customer support representives, please call pur
          toll-free number 0803336677 or send an email to
          @info@pricezilla.com,ng
        </p>
      </section>

      <footer>
        <div class="row">
          <div class="col-1">
            <img src="assets/icons/phone-icon.png" />
            <p>Phone Enquiries</p>
            <p>0803336677</p>
          </div>
          <div class="col-2">
            <img src="assets/icons/user-icon.png" />
            <p>follow us</p>
            <div class="social-links">
              <a href="#"><img src="assets/icons/twitter-icon.png"></a>
              <a href="#"><img src="assets/icons/fb-icon.png"></a>
              <a href="#"><img src="assets/icons/u-icon.png"></a>
              <a href="#"><img src="assets/icons/linkedin-icon.png"></a>
            </div>
          </div>
        </div>

        <div class="center"><button class="btn">
          <a href="./index.html">Return to home</a</div>
        </button>
      </footer>
    </main>
  </body>
</html>
