{% load static from static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static '/styles/bootstrap.min.css'%}" />
    <link rel="icon" href="{% static '/assets/pricezilla-favicon.png'%}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static '/styles/index.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <title>PriceZilla</title>
  </head>
  <body>
    <header class="header">
      <div class="header-inner">
    <div class="container-lg">
      <div class="headerr">
        <div class="account-icon">
          <i class="bi bi-person-circle h1"></i>
        </div>
  
      <div class="mylogo">
        <a href="{% url 'index'%}">
          <img src="{%static '/assets/Pricezilla logo.png' %}" alt="Pricezilla-logo">
        </a>
      </div>
  
  
      <div class="navigation">
  
        <input type="checkbox" class="toggle-menu"/>
        <div class="hamburger"></div>
         
        <ul class="menu">
          <li id="home" ><a href="{% url 'index' %}" id="current-page" >Home</a></li>
          <li class=" " id="categories-menu">
            <a
              class="dropdown-toggle spaced-link drop"
              href="#"
              id="navbarDropright"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categories
            </a>
            <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="{% url 'furniture'%}">Furnitures</a>
              <a class="dropdown-item" href="{% url 'kitchen'%}">Kitchen Equipment</a>
              <a class="dropdown-item" href="  {% url 'laundry'%}  ">Laundry / Dry cleaning</a>
              <a class="dropdown-item " href="{% url 'entertainement'%}">Home Entertainment</a>
            </div>
          </li>
          <li class="spaced-link"><a class="spaced-link" href="{%url 'about'%}">About us</a></li>
          <li class="spaced-link"><a class="spaced-link" href="{%url 'wishlist'%}">Wishlist</a></li>
          <li><a class="nav-btn-mobile" href="{% url 'login'%}">Login</a></li>
          <li><a class="nav-btn-mobile" href="{%url 'signup' %}">Sign up</a></li>

        </ul>
      </div>
  
  
      <div class="nav2">
        <ul class="nav-buttons">
          
          
          <li><a href="{% url 'login'%}">Login</a></li>
          <li><a href="{% url 'signup'%}">Sign up</a></li>
           <li><a href="{% url 'logout'%}">Logout</a></li>
        </ul>
      </div>
  
    </div>
  </div>
</div>
    </header>
