{% extends 'baselayout.html' %}
{% load static from static %}
{% block content %}
    <main class="container">
      <section class="hero">
        <div class="hero-search">
          <h4>Find the right price for your home!</h4>
          <p>
            Start comparing, save money and get the best deals on household
            items
          </p>
          <form>
            <div class="input-search-box">
              <i class="bi bi-search"></i>
              <input type="search" required />
            </div>
            <button type="submit">Search</button>
          </form>
        </div>
      </section>

      <!-- DESKTOP VIEW OF CATEGORIES (HIDDEN ON SCREEN SIZES <= 768PX) -->
      <section class="categories-container">
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
        <div class="category-box">Categories</div>
      </section>

      <!-- MOBILE VIEW OF CATEGORIES (HIDDEN ON SCREEN SIZES >= 768PX) -->
      <section
        class="carousel categories-mobile"
        data-flickity='{ "groupCells": true }'
      >
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
        <a href="" class="carousel-cell category-mobile">Categories</a>
      </section>

      <!--           BEST SELLING SECTION         -->

      <section class="section">
        <div class="section-header">
          <h2>Best Selling</h2>
          <h5>See more</h5>
        </div>

        <div class="best-selling-container">
          <div class="product-price-card">
            <div class="product-image-container">
              <img src="{% static '/assets/microwave.png'%}" width="70%" alt="assets" />
            </div>
            <div class="price">
              <h4>HAMILTON MICROWAVE</h4>
              <p>N27,800</p>
            </div>
          </div>

          <div class="product-price-card">
            <div class="product-image-container">
              <img src="{% static '/assets/tv.png'%}" alt="assets" />
            </div>
            <div class="price">
              <h4>ENKOR PLASMA TV</h4>
              <p>N47, 500</p>
            </div>
          </div>

          <div class="product-price-card">
            <div class="product-image-container">
              <img
                src="{% static '/assets/washing-machine.png'%}"
                width="55%"
                alt="assets"
              />
            </div>
            <div class="price">
              <h4>HAIER WASHING MACHINE</h4>
              <p>N32,000</p>
            </div>
          </div>
        </div>
      </section>

      <!--     PROMO DEALS SECTION       -->
      <section class="section">
        <div class="section-header">
          <h2>Promo deals</h2>
          <h5>See more</h5>
        </div>

        <div class="promo-deals-container">
          <div class="product-price-card">
            <!-- <div class="discount-1">-15%</div> -->
            <div class="product-image-container">
              <img src=" {% static '/assets/couch.png'%}" alt="assets" width="70%" />
            </div>
            <div class="price">
              <h4>COZY YELLOW COUCH</h4>
              <div class="old-price">
                <span>N184,000</span>
                <p>N156,400</p>
              </div>
            </div>
          </div>

          <div class="product-price-card">
            <!-- <div class="discount-2">-27%</div> -->
            <div class="product-image-container">
              <img src="{% static '/assets/chandelier.png'%}" alt="assets" width="70%" />
            </div>
            <div class="price">
              <h4>ELITE VIP CHANDELIER</h4>
              <div class="old-price">
                <span>N32,500</span>
                <p>N23,725</p>
              </div>
            </div>
          </div>

          <div class="product-price-card">
            <!-- <div class="discount-3">-8%</div> -->
            <div class="product-image-container">
              <img src="{% static '/assets/speakers.png'%}" width="70%" alt="assets" />
            </div>
            <div class="price">
              <h4>LG BOOM STUDIO</h4>
              <div class="old-price">
                <span>N87,000</span>
                <p>N80,040</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--              IMAGE SLIDESHOW      -->

      <section class="image-slideshow">
        <div
          class="carousel"
          data-flickity='{ "autoPlay": true, "wrapAround": true }'
        >
          <div class="carousel-cell cell-1">
            <img src="{% static '/assets/home-slide1.jpg'%}" alt="banner" />
          </div>

          <div class="carousel-cell cell-2">
            <img src="{% static '/assets/home-slide2.jpg'%}" />
          </div>

          <div class="carousel-cell cell-3">
            <img src="{% static '/assets/home-slide3.jpg'%}" />
          </div>
        </div>
      </section>
    </main>
{% endblock %}
 
