{% extends 'baselayout.html'%}
{% load static %}

{%block content%}
    <main >
      <link rel="stylesheet" href="{% static '/styles/promo-deal.css'%}">
      <div class="frame-162  container-lg">
          <p class=""><a href="{% url 'index'%}">Home</a></p>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <p>Promo deals</p>  
      </div>
      
      
      <section class="first">
          <div class="texts">
         <div class="text">
          <h5>Promo deals</h5>
          <p>Get discounted prices from your favourite stores</p>
         </div>
          </div>
          <div class="image">
              <img src="{% static '/assets/happy lady 1.png'%}">
          </div>
      </section>
      
      
      <div class="search-mobile">
        <div class="inner">
          <div class="buttons">
            <button>Brand <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <button>Store <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
          </div>
          <form>
            <input class="mainLoginInput" type="text" placeholder="&#61442;"/> 
          </form>
      
          
        </div>
      </div>
      <section class=" second pad">
       
        <div class="flex-container">
          
      
            <div class="flex one">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <div class="image two">
                <img src="{% static '/assets/JBL.png'%}" style="width: 90%;">
              </div>
          
      
              <div class="para">
                <h6>Kinelco electric iron</h6>
                <p>BRAND: KINELCO</p>
                <p>AVAILABLE IN 2 STORES</p>
                <p>Price</p>
              </div>
          </div>
          <div class="flex one">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <div class="image two">
              <img src="{% static '/assets/television 2.png' %}">
            </div>
        
      
            <div class="para">
              <h6>Kinelco electric iron</h6>
              <p>BRAND: KINELCO</p>
              <p>AVAILABLE IN 2 STORES</p>
              <p>Price</p>
            </div>
        </div>
        <div class="flex one">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <div class="image one">
            <img src="{% static '/assets/nexus 1.png'%}">
          </div>
      
      
          <div class="para">
            <h6>Kinelco electric iron</h6>
            <p>BRAND: KINELCO</p>
            <p>AVAILABLE IN 2 STORES</p>
            <p>Price</p>
          </div>
      </div>
      <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image one">
          <img src="{% static '/assets/Refrigerator 1.png'%}" style="width: 40%;">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
          <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image one">
          <img src="{%static '/assets/2121_1_Studio_Front 1.png '%} " style="width:70%;">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
       <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image ">
          <img src="{% static '/assets/wooden bed 1.png  '%}" style="width: 90%;">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
       <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image one">
          <img src="{% static '/assets/bartscher-gas-cooker.png'%}" style="width:77% ;">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
      <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image one">
          <img src="{% static '/assets/nexus 3.png'%}">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
      <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image two">
          <img src="{% static '/assets/cloth hanger 1.png'%}" >
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
      <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image one">
          <img src="{% static '/assets/walnut side tablee 1.png'%}" style="width: 80%;">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
      <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image two">
          <img src="{% static ' /assets/laundry basket 1.png  '%}" style="width: 75%;">
        </div>
      
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
      <div class="flex one">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <div class="image one">
          <img src="{% static '/assets/nexus 4.png'%}" >
        </div>
   
      
        <div class="para">
          <h6>Kinelco electric iron</h6>
          <p>BRAND: KINELCO</p>
          <p>AVAILABLE IN 2 STORES</p>
          <p>Price</p>
        </div>
      </div>
      
          
      
          
        </div>
      </section>
      <div class="all">
        
      
      <div class="pepsi-section">
        <p>Refresh your</p>
         <div class="pepsis">
           <div class="pepsi one">
             <img src="{%static '/assets/pepsi can 8.png'%}">
      <img src="{% static '/assets/pepsi can 10.png'%}">
           </div>
           <div class="pepsi two" >
             <img src="{% static '/assets/pepsi can 11.png'%}">
           </div>
           <div class="pepsi one">
             <img src="{% static '/assets/pepsi can 7.png'%}">
             <img src="{% static '/assets/pepsi can 10.png'%}">
           </div>
         </div>
         <h6>World</h6>
       </div>
      </div>
      
      
      
      
      
      
      
      <div class="search-mobile">
        <div class="inner">
          <div class="buttons">
            <button>Brand <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <button>Store <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
          </div>
         <div class="pags">
          <p class="active"><a href="#">1</a></p>
          <p class="pag two"><a href="#">2</a></p>
          <p><a href="#">3</a></p>
          <p><a href="#">4</a></p>
          <p class="next"><a href="#">Next</a></p>
      
         </div>
      
          
        </div>
      </div>
      
      
      
      
      
      
        </main>
 {%endblock%}
