{% extends 'baselayout.html'%}

{% load static%}
{% block content%}
    <main>
       <link rel="stylesheet" href="{% static '/styles/footerlinks.css'%}" />
      <div class="container">
        <section class="section">
          <span
            ><a href="../index.html">Home</a>
            <i class="fa-solid fa-greater-than"></i> Rules and guidelines</span
          >
          <h1>Rules and guidelines for users</h1>
          <p>
            By creating a Pricezilla account, you agree to the following rules:
          </p>
        </section>

        <section class="section">
          <h2>1. Basic rules</h2>
          <p>
            1.1. Members are permitted a maximum of one account per person. If
            you choose to ignore this restriction, all your accounts will be
            disabled. If you require a temporary user name for any reason,
            please contact us. If you have forgotten your login details and are
            unable to retrieve them via the system, do not create a new account,
            please contact us for assistance.
          </p>

          <p>
            1.2. This site is only for your personal use. You may not
            distribute, exchange, modify, sell or transmit anything you copy
            from this site, including, but not limited to, any text, images,
            audio and video, for any business, commercial or public purpose.
          </p>

          <p>
            1.3. You are responsible for any posts originating from your user
            name account. PriceSpy does not vouch for or warrant the accuracy,
            completeness or usefulness of any message. Participants are urged to
            seek professional advice for specific, individual situations and not
            rely solely on advice or opinions given in the discussions.
          </p>

          <p>
            1.4. The basic rules are very simple: be polite, do not be offensive
            or malicious, do not break the law, and do not post any message that
            even hints at advertising, which includes text messages, images,
            referral links and more.
          </p>

          <p>
            1.5. Please be aware that all postings will become public and your
            text will be available to anyone with an internet connection.
          </p>
        </section>

        <section class="section">
          <h2>2. Rules for user reviews</h2>

          <p>
            2.1. User reviews may only be added by consumers and not by
            companies, nor by individuals with self-interest in the shop or the
            product, or by consumers closely linked to such persons. It may not
            be used to promote your own, or purposely damage someone else’s,
            business or reputation. Reviews may not contain links, questions, or
            discussions about other shops or products than the one being
            reviewed.
          </p>

          <p>
            2.2. Business representatives may not on their initiative publish
            information about products and/or services offered by themselves or
            by their partners. However, it is permissible to answer members’
            questions when addressed to a specific business, company or shop.
          </p>

          <p>
            2.3. To reduce the risk that anything other than own experiences and
            opinions forms the basis of a review we do not allow reviews
            submitted in return for promised compensation (money, equipment,
            discounts, lottery tickets, etc.) or in return for participation in
            a prize competition or lottery. A review suspected of having been
            submitted under such conditions is seen as advertising and will be
            removed. Since we cannot determine why each review is submitted, all
            reviews submitted or updated during an ongoing campaign, prize
            competition or lottery, involving reviews on Pricezilla, will be
            removed.
          </p>

          <p>
            2.4. By using this service, you agree that you will not use the site
            to post (or link to) any material which is knowingly false and/or
            defamatory, inaccurate, abusive, vulgar, hateful, harassing,
            obscene, profane, threatening, or otherwise violative of any law.
          </p>

          <p>
            2.5. You agree not to post any copyrighted material unless the
            copyright is owned by you or by Pricezilla.
          </p>

          <p>
            2.6. Disclosure of someone's personal data, or invasion of privacy,
            is strictly forbidden. Examples could include but are not limited
            to, personal names, private addresses, phone numbers, social
            security numbers, private email addresses, registration numbers of
            vehicles, ethnicity, health status, political and religious beliefs,
            sexual orientation, personal finance, occupation, law violations,
            criminal convictions or arrests, etc.
          </p>

          <p>
            2.7. If you spam our members in any manner, your account will be
            inactivated or banned. Do not contact anyone, to suggest your
            product or service, who is not explicitly expecting you to contact
            them.
          </p>

          <p>
            2.8. We take the "Be Polite" rule very seriously! We do not tolerate
            any rudeness. Any member who is intentionally unpleasant or
            disruptive may be banned without warning.
          </p>

          <p>
            2.9. Any abuse towards our staff and/or management in any form may
            result in immediate suspension of your account.
          </p>

          <p>
            2.10. Any user who feels that a posted message is objectionable is
            encouraged to contact us immediately by email. We can remove
            objectionable messages and we will make every effort to do so,
            within a reasonable time frame, if we determine that removal is
            necessary.
          </p>
        </section>

        <section class="section">
          <h2>3. Rules for user reviews on shops</h2>
          <p>
            3.1. Shop reviews All grades must be followed by an objective
            comment motivating the grade. The more negative a review is, the
            clearer it should be in its motivation. Reviews must reflect the
            consumer’s own current experience, and be connected to a completed
            or planned purchase. It can also refer to other actual errands that
            the shop has committed to handle or perform on behalf of the
            consumer. Reviews that only or mainly address either general or
            speculative opinions about the shop’s business, facts that are not
            connected to one’s errand, as well as recommendations of other named
            companies or shops are topics for discussion forums and not
            Pricezilla.
          </p>

          <p>
            Reviews that are only or mainly published to criticize phenomena
            following current legislation and practice and that appears on the
            shop's website (for example terms & conditions, pricing, payment
            solutions, marketing etc) are also referred to a discussion forum.
          </p>

          <p>
            It is however allowed, as a part of an otherwise approved review, to
            convey constructive criticism regarding the above-mentioned
            phenomena. Note: that this paragraph generally is not concerning
            so-called instore reviews which are submitted in conjunction with an
            online purchase where opinions are specifically asked regarding
            delivery options, payment solutions etc.
          </p>

          <p>
            3.2. When a consumer claims non-delivery or is waiting for refund,
            reimbursement or actions in an ongoing support case, the review
            should normally be updated from time to time until resolved or
            closed. If we consider it necessary, the review may be hidden and
            remain hidden until updated.
          </p>
        </section>

        <section class="section">
          <h2>4. Rules for user reviews on products</h2>
          <p>
            4.1. Opinions should be specific and based on facts. They should
            reflect the consumer's own experiences regarding product
            functionality, performance, quality, content, etc.
          </p>
        </section>

        <section class="section">
          <h2>5. Updates to these rules and guidelines</h2>
          <p>
            5.1. We reserve the right to modify and amend these rules and
            guidelines at any time without notice. It is your responsibility to
            remain informed of current rules and guidelines.
          </p>
        </section>
      </div>
    </main>

    {% endblock %}

