{% extends 'baselayout.html'%}
{% load static %}

{% block content%}
    <!--Content in the Main tag-->
  <link rel="stylesheet" href="{% static '/styles/wishlist.css'%}">
    <main class="container">

      <div class="wishlist-container">
      <div class="wishlist-content">
        
          <img src="{% static '/assets/images/empty wish cart.png'%}" alt="Sad face empty cart" class="cart">
      
          <h2 class="empty">Your wishlist is empty</h2>
      
          <p class="tap-here">Tap the heart button to start saving your favourite items</p>
      
          <button type="submit" class="add now"> Add Now </button>
      </div>
    </div>
  
  </main>

{%endblock%}