.main-container{
    margin-top: 110px;
}
.form-container{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.form-container .form-header-text{
    width: 35%;
    margin: auto;
    margin-bottom: 45px;
}
.form-container h3{
    text-align: center;
    width: 100%;
}
.sign-up-form{
    width: 40%;
    margin: auto;
    padding: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.sign-up-form label{
    font-weight: 500;
}
.line-1, .line-2{
    margin-bottom: 15px;
}
.line-3{
    margin-bottom: 5px;
}
.toggle-password{
    display: flex;
    position: relative;
}
.toggle-password i{
    transform: translateX(390px);
    position: absolute;
    padding-top: 5px;
    font-size: 16px;
    transition: 0.5s;
}
.toggle-password i:hover{
    cursor: pointer;
}
.form-check label{
    font-size: 14px;
    font-weight: 400;
}
.sign-up-btn{
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 124, 68, 1);
    color: white;
}
.or-divider-text{
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}
.or-divider-text span{
    height: 0.2px;
    width: 45%;
    background-color:   #262322;
    margin-top: 0.75rem;
}
.sign-up-form button{
    width: 100%;
    padding: 12px 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.last-line{
    text-align: center; 
}
.last-line p a{
    color: rgba(255, 124, 68, 1);
    text-decoration: none;
}
footer{
    margin-top: 250px;
}
.form-header-text .last-line{
    display: none;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media screen and (max-width: 1200px) {
    .sign-up-form{
        padding: 50px;
        width: 50%;
    }
    .form-container .form-header-text{
        width: 50%;
    }
    .toggle-password i{
        transform: translateX(340px);
        position: absolute;
        padding-top: 5px;
        font-size: 16px;
        transition: 0.5s;
    }
    
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .toggle-password i{
        transform: translateX(420px);
    }
    .sign-up-form{
        padding: 50px;
        width: 50%;
    }
    .form-container .form-header-text{
        width: 50%;
    }
}
@media screen and (max-width: 991px) {
    .sign-up-form{
        width: 70%;
        padding: 60px;
    }
    .form-container .form-header-text{
        width: 65%;
    }
    .toggle-password i{
        transform: translateX(50vw);
    }
    
}
@media screen and (max-width: 768px) {
    .sign-up-form{
        width: 85%;

    }
    .form-container .form-header-text{
        width: 80%;
    }
    .toggle-password i{
        transform: translateX(290px);
    }
}
@media screen and (max-width: 575px) {
    .toggle-password i{
        transform: translateX(320px);
    }
    
}
@media screen and (max-width: 539px) {
    .sign-up-form{
        width: 90%;
        padding: 20px;
        box-shadow: none;
        border: none;
    }
    .toggle-password i{
        transform: translateX(340px);
    }
    .sign-up-form .form-group > input, .toggle-password input{
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: #F4F4F4;
    }

    .or-divider-text p{
        color: rgba(38, 35, 34, 0.4);
        
    }
    .or-divider-text span{
    height: 0.1px;
    width: 45%;
    border: 0.5px solid rgba(38, 35, 34, 0.4);
    margin-top: 0.75rem;
    }
    .sign-up-form button{
        color: rgba(38, 35, 34, 0.4);
        border: 1px solid rgba(38, 35, 34, 0.4);
    }
    .sign-up-form .last-line{
        display: none;
    }
    .form-header-text .last-line{
        display: block;
    }
    .form-header-text .last-line p{
        color: rgba(38, 35, 34, 0.4) ;
    }
    .form-container .form-header-text {
        width: 85%;
        font-weight: 500;
        margin-bottom: 25px;
    }
    .form-container .form-header-text h3{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 426px) {
    .toggle-password i{
        transform: translateX(290px);
    }
    .form-container .form-header-text {
        width: 85%;
        font-weight: 500;
        margin-bottom: 15px;
}
}
@media screen and (max-width: 376px) {
    .toggle-password i{
        transform: translateX(250px);
    }
    .form-container .form-header-text{
        width: 90%;
    }
}
@media screen and (max-width: 321px) {
    .sign-up-form{
        width: 100%;
        padding: 15px;
        border: none;
    }
    .form-container .form-header-text h3{
        font-size: 16px;
    }
    .toggle-password i{
        transform: translateX(235px);
    }
    .sign-up-form button > img{
        width: 20px;
        height: 20px;
    }
}
@media screen and (width: 768px) {
    .toggle-password i{
        transform: translateX(475px);
    }
}
@media screen and (width: 390px) {
        .toggle-password i{
            transform: translateX(260px);
}
    
}
@media screen and (width: 393px) {
    .toggle-password i{
        transform: translateX(265px);
    }
    
}
@media screen and (width: 360px) {
    .toggle-password i{
        transform: translateX(235px);
    }
}
@media screen and (width: 540px) {
    .toggle-password i{
        transform: translateX(290px);
    }
    
}
@media screen and (width: 412px) {
    .toggle-password i{
        transform: translateX(280px);
    }
    
}


@media screen and (max-width: 480px) {
    main, .form-container, .sign-up-form{
        background-color: #f4f4f4;
    }
    .form-container .form-header-text h3{
        font-size: 16px;
        text-align: left;
        padding: 18px;
        width: fit-content;
    }
    .form-container .toggle-password input{
        background-color: white;
    }
    
}