.search-background{
    background-color: #00303C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-bottom: 100px;
}
#faq-header{
    background-color: #00303C;
}
.searchbar{
    background-color: white;
    text-align: start;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.searchbar i{
    color: grey;
}
.searchbar input{
    border: none;
    outline: none;
    width: 100%;
    padding: 15px ;
    height: 65px;
}
.search-flexbox{
    width: 40%;
    text-align: center;
}
.search-flexbox h1{
    margin-bottom: 30px;
}
.search-flexbox p{
    font-size: 20px;
    margin-bottom: 30px;
}
main{
    min-height: 100vh;
}

/* TABS STYLING */

.tabs{
    position: relative;
    width: 100%;
    height: 85vh;
    
}
.tabs .title{
    height: 30px;
}
.tabs .tab-header,
.tabs .tab-indicator,
.tabs .tab-body{

    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}
.tabs .tab-header .active{
  color: black;
}
 .tabs .tab-header{
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   height: 60px;
   margin-top: -60px;
   z-index: 2;
   font-size: 10px;
   
} 
.tabs .tab-header  > div{ 
    width: 25%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    position: relative;
    color: rgba(187, 187, 187, 1);
}
.tabs .tab-indicator{
    position: relative;
    height: 60px;  
    margin-top: -60px;
    margin-bottom: 70px;
    
}
.tabs .tab-indicator > div{
    position: absolute;
    left: 0%;
    width: 25%; 
    height: 100%;
    border-bottom: 3px solid rgba(255, 124, 68, 1);
    background-color: white;
    transition: all 300ms ease-in-out;
    padding: 0 2px;
    overflow: hidden;
    margin-top: -10px;
    
}
.tabs .tab-body{
    position: relative;
    
}
.tabs .tab-body > div{
  position: absolute;
  width: 100%;
  padding: 20px;
  opacity:0;
  top: 100vh;
}
.tabs .tab-body > div > *{
    margin: 10px 0px;
}
.tabs .tab-body > div > p{
    color: #555;
    font-size: 15px;
}
.tabs .tab-body > div.active{
    top: 0px;
    opacity: 1;
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out 0ms
}


/* ACCORDION */
.accordion {
    width: 100%;

    margin: 5rem auto;
  }
  .accordion-item {
    background-color: #F4F4F4;
    color: black;
    margin: 0.9rem 0;
    border: none;

    
  }
  .accordion-item-header {
    padding: 1rem 3rem 1rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 19px;
    padding: 2px;
    position: absolute;
    right: 1rem;
    border-radius: 100%;
    border: 0.2px solid  black;
    font-weight: 500;
  }
  .accordion-item-header.active::after {
    content: "\2212";
    padding: 2px;
    font-size: 19px;
    border-radius: 100%;
    border: 1.5px solid black;

  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 0 1rem 1rem 1rem;
    line-height: 1.5rem;
    color:  rgba(38, 35, 34, 0.5);
    text-align: justify;
  }
  
  @media(max-width:767px) {
    .accordion {
      font-size: 14px;
    }
  }

  .question-form h2{
    text-align: center;
  }
  .question-form{
    width: 100%;
    margin: auto;
  }
  .question-form form{
    width: 40%;
    margin: auto;
  }
  .question-form form input{
    background-color: #F4F4F4;
    border: none;
    outline: rgba(255, 124, 68, 1);
    padding: 15px 10px;
    border-radius: 0;
    
  }
  .question-form form textarea{
    background-color: #F4F4F4;
    border: none;
    outline: rgba(255, 124, 68, 1);
    padding: 15px 10px;
    border-radius: 0;
    height: 30vh;
  }
  .question-form form div .question-submit-btn{
    background-color: rgba(255, 124, 68, 1);
    color: white;
    margin-top: 1rem;
    
  }
  @media screen and (max-width: 1200px){
       .question-form form{
        width: 50%;
       }
       .search-flexbox{
        width: 50%;
    }
    .searchbar input{
        height: 60px;
    }
    
  }
  @media screen and (max-width: 768px){
      .question-form form{
        width: 60%;
      }
      .search-flexbox{
        width: 50%;
    }
    .searchbar input{
        height: 55px;
    }
    
  }
  @media screen and (max-width: 500px){
    .question-form form{
        width: 70%
    }
    .tabs .tab-indicator > div{
        margin-left: 12px;
        width: 20%;
    }
    .accordion-item-header{
        font-size: 16px;
    }
    .search-flexbox{
        width: 80%;
    }
    .searchbar input{
        height: 50px;
    }
    
    
  }
  @media screen and (max-width: 400px) {

    .tabs .tab-header div h5{
        font-size: 1em;
    }
    .tabs .tab-indicator > div{
        width: 18%;
        margin-top: -17px;
    }
    .question-form{
      margin-top: 80px;
    }

    
  }
  @media screen and (max-width: 322px) {
    .tabs .tab-indicator > div{
        width: 15%;
    }
    .question-form{
      margin-top: 150px;
    }
    
    
  }
  .question-form input{
    border-radius: 8px;
  }