*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' sans-serif;
}
.login-signup a{
    text-decoration: none;
    color: rgba(187, 187, 187, 1);
    padding:12px 18px;

}

/* HEADER STYLES */
.account-icon{
    display: none;
}
.header-inner{
    width: 100%;
    padding-top: 15px;
    top: 0;
    left: 0;
    width:100%;
    z-index: 99;
    background-color: white;
    
}

.nav-item .nav-link{
    display: block;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(187, 187, 187, 1);
    transition: 0.15s;
}
    
.nav-item .nav-link:hover{
        color: rgba(255, 124, 68, 1);
}
    
.login-signup a{
    border-radius: 8px;
    background-color: white;
    border:none;
    font-weight: 500;
    outline: none;
    /* padding:7px 20px; */
    transition: 0.5s;
}
    
.login-signup a:hover{
    background-color: rgba(255, 124, 68, 1);
    cursor: pointer;
    color: white;

}
.header{
    position: relative;
    width: 100%;
    padding-top: 15px;
}
.navbar-scroll{
    background-color: white;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition-duration: 0.8s;
    box-shadow:0px 1px 10px rgba(0,0,0,0.4);
    padding-top: 15px;
}
    
/* @media  (min-width: 767px) and (max-width: 775px){
    .login{
        padding-right: 10px;
    
    }
    .nav-link{
        font-size: 10px;
    }
} */
@media screen and (max-width: 767px ){
    .account-icon{
        display: block;
    }
    /* main{
        margin: 0 20px 60px 20px;
        
    } */
    
}
@media only screen and (min-width: 768px){
    /* main{
        margin: 0 60px 80px 60px;
    } */
    /* .logo{
        margin-left: 40px; 
    }
    .login{
        padding-right: 30px;
    } */
    .nav-link{
        font-size: 14px;
    }

}
/* @media screen and (min-width: 511px) and (max-width: 613px){
    .account-icon{
        margin-right: 6rem
    }
    .logo{
        margin-right: 3rem;
    }

} */
/* @media screen and (min-width: 328px) and (max-width: 510px){
    .account-icon{
        margin-right: 3rem
    }
    .logo{
        margin-right: 2rem;
    }

} */
@media screen and (max-width: 328px){
    /* .account-icon{
        margin-right: 2rem;
    } */
} 
@media only screen and (min-width:1200px){
	.nav-item > .nav-link{
        padding: 5px 10px !important;
		display: block !important;
        font-size: 20px;
        margin-left: 30px;
    }
    .login-signup a{
        font-size: 20px;
    }
    footer{
        font-size: 20px;
    }
    /* .login{
        padding-right: 120px;
    }
    .logo{
        margin-left: 120px;
    } */
}

@media only screen and (max-width:992px){
	.header-inner{
        background-color: white!important;
	}
    .login-signup a{
        font-size: 14px;
    }

}
@media screen and (min-width: 775px) and (max-width: 913px){
    /* .logo{
        margin-left: 20px;
    }
    .login{
        padding-right: 20px;
    }
    main{
        margin: 0 30px 60px 30px;
    } */
}
@media screen and (max-width: 320px){
    .slime{
        padding-left: 20px;
        display: flex;
        justify-content: end;
    }
    .slime span i{
        margin-left: 20px;
    }
}
@media screen and (max-width: 425px) {
    .account-icon{
        margin-left: 10px;
    }
    
}



/* main */
main{
    min-height: calc(100vh - 211px - 58px);
    margin-top: 20px;
    margin-bottom: 80px;
}
.hero{
    width: 100%;
    background-image: /*linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0, 0, 0, 0.8)),*/ url(../assets/hero-bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero h1{
    color: white;
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
}
.hero-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;

}
.hero-search form{
    width: 100%;
    display: flex;
    align-items: center;
    height: 73.48px;
    gap: 16px;
    justify-content: center;
}
.top-form{
    width: 70%;
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 0 10px;
}
.top-form img{
    height: 25.33px;
    width: 24.17px;
    margin: 25px 20px 0;
}
.hero-search input{
    width: 90%;
    height: 73.48px;
    border-radius: 8px;
    padding: 0 20px;
    border: none;
    margin-right: 0px;
    outline: none;
}
.hero-search button{
    width: 15%;
    height: 72px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 124, 68, 1);
}
.second-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 62px;
    margin-top: 24px;
}
.category-box{ 
    /* background-color: rgba(255, 124, 68, 1); */
    background-image: linear-gradient(to right, rgba(255, 124, 68, 1), rgba(225, 145, 51, 1));
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    text-align: center;

}

@media screen and (max-width: 320px){
    
}
/* FOOTER STYLING */


.footer{
    background-color: #00303C;
    padding: 20px 0px; 
    color: white; 
}
.footer-logo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.email{
    overflow: hidden;
}
.grid-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.news-email-flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email-support{
    display: flex;
    align-items: center;
    gap: 20px;
}
.email-icon{
    margin-bottom: 40px;
}
.email h5{
    font-weight: 700;
}
.newsletter form input{
    padding: 1rem 2rem;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 30rem;
    outline: 0;
}
.newsletter form button{
    padding: 1rem 2rem;
    border-radius: 0px 10px 10px 0px ;
    border: none;
    background-color: rgba(255, 124, 68, 1);
}
.footer-icons img{
    margin-left: 20px;
    height: 32px;
    width: 32px;
}
.footer-icons{
    display: flex;
    margin-right: 50px;
    transform: translateX(-40px);
}
.email-support-mobile{
    display: none;
}

@media screen and (min-width:991px) and (max-width: 1200px){
    .newsletter form button, .newsletter form input{
        padding: 0.7rem 1rem

    }
    .footer-icons{
        margin-right: 20px;
    }
    .footer-icons img{
        width: 25px;
        height: 25px;
    }
    .footer-logo img{
        width: 20%;
    }
    .newsletter form input{
        width: 20rem;
    }
}
@media screen and (max-width: 991px){
    .newsletter form input{
        width: 15rem;
    }
    .email-icon i{
        font-size: 30px;
        padding-bottom: 30px;
    }
    .news-email-flexbox{
        gap: 20px;
    }
    .footer-icons{
        margin-right: 20px;
    }
    .footer-icons img{
        width: 25px;
        height: 25px;
    }
    .footer-logo img{
        width: 30%;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px){
    .newsletter form input{
        width: 8rem;
        padding: 0.5rem 0.7rem;
    }
    .newsletter form button{
        padding: 0.5rem 0.5rem;
    }
    .footer-icons{
        margin-right: 10px;
        transform: translateX(-20px);
    }
    .footer-list h1{
        font-size: smaller;   
    }
    .footer-list p{
        font-size: 14px;
    }
    .email-icon{
        transform: translateY(-15px);
    }
    .footer-logo img{
        width: 30%;
    }

}
@media screen and (max-width: 500px){
    .email-support{
        display: none;
    }
    .email-support-mobile{
        display: block;
        display: flex;
        align-items: center;
        gap: 20px;
        transform: translateY(-60px);
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 50px;
        row-gap: 20px;
    }
    .email-icon{
        transform: translateY(-15px);
    }
    .email-icon img{
        width: 18px;
        height: 18px;
    }
    .news-email-flexbox{
        padding-left: 50px;
        width: 100%;
    }
    .newsletter form input{
        width: 18rem;
    }
    .newsletter h5{
        text-align: center;
    }
}

@media screen and (max-width: 425px){
    .email-support{
        display: none;
    }
    .email-support-mobile{
        display: block;
        display: flex;
        align-items: center;
        gap: 20px;
        transform: translateY(-65px);
        padding-left: 20%;
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        padding-left: 30px;
        row-gap: 20px;
    }
    .email-icon{
        transform: translateY(-10px);
    }
    .email-support-mobile .email-icon img{
        width: 12px;
        height: 12px;
    }
    .news-email-flexbox{
        padding-left: 20px;
        width: 100%;
    }
    .newsletter form input{
        width: 17rem;
        padding: 0.7rem 0.8rem;
    }
    .newsletter h5{
        text-align: center;
    }
    .newsletter{
        padding: 0px;
    }
    .footer-flexbox h5{
        font-size: 18px;
    }
    .footer-flexbox p{
        font-size: 12px;
    }
    .guidelines{
        padding-left: 40%;
    }
    .newsletter form button{
        padding: 0.7rem 0.5rem;
    }
}

@media screen and (max-width: 376px){
    .email-support{
        display: none;
    }
    .email-support-mobile{
        display: block;
        display: flex;
        align-items: center;
        transform: translateY(-65px);
        
    }
    .slime span i{
        margin-left: 20px;
    }
    .email-support-mobile .email{
        padding-right: 15px;
    }
    .email-support-mobile .email-icon i{
        font-size: 20px;
    }
    .email-support-mobile .footer-icons{
        margin-right: 0px;
    }
    .email-support-mobile .footer-icons img{
        width: 15px;
        height: 15px;
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0px;
        row-gap: 20px;
    }
    .email-icon{
        transform: translateY(-10px);
    }
    .email-support-mobile .email-icon img{
        width: 10px;
        height: 10px;
    }
    .news-email-flexbox{
        padding-left: 10px;
        width: 100%;
    }
    .newsletter form input{
        width: 15rem;
        padding: 0.7rem 0.8rem;
    }
    .newsletter h5{
        text-align: center;
    }
    .newsletter{
        padding: 0px;
    }
    .footer-flexbox h5{
        font-size: 16px;
    }
    .footer-flexbox p{
        font-size: 14px;
    }
    .guidelines{
        padding-left: 10%;
    }
    
    .newsletter form button{
        padding: 0.7rem 0.5rem;
    }
}

@media screen and (max-width: 321px){
    .email-support-mobile{
        padding-left: 0px;
        padding-right: 0px;
        gap: 0px;
        transform: translateY(-75px);
    }
    .email-support-mobile .email p{
        width: fit-content;
    }
    .footer-flexbox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0px;
        row-gap: 20px;
    }
    .email-support-mobile .footer-icons{
        margin-right: 0;
        transform: translateX(0px);
    }
    .email{
        padding-left: 10px;
    }
    .email-support-mobile .footer-icons img{
        margin-left: 0px;
        
        
    }
    .email-support-mobile .footer-icons .spaced-icon{
        margin-left: 15px;
    }
    .newsletter form input{
        width: 12rem;
        padding: 0.7rem 0.8rem;
    }
    .newsletter form button{
        font-size: 14px;
        padding: 0.8rem 0.5rem;
    }
    .navbar-scroll{
        width: 100%;
    }
    
}

.section{
    margin: 120px 0;
    width: 100%;
    padding: 0;
}

 .img{
    display: flex;
    justify-content: space-evenly;

}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.text h5{
    color: rgba(187, 187, 187, 1);
}

.img-slider{
    width: 100%;
    margin-bottom: 50px;
}



@media screen and (max-width:327px) {

    .img{
        display: block;
    }
    img{
        width: 250px;
    }
    .text1, .text{
        margin: 0;
        text-align: center;
    }

    .img-slider{
        margin: 0;
        width: 250px;
        
    }
    
}

@media screen and(max-width:500px){


    .img{
        display:block;

    }
}




















































































