
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  body {
    font-family: "Roboto";
    
    color: rgba(38, 35, 34, 0.7)
  }
  
  /* FORGOT PASSWORD STYLING */
  
  .forgot-passwrd {
    font-size: 1.2em;
    font-weight: 700;
    margin: 4rem 20em 1rem;
  }

  /* STYLING THE BOX SURROUNDING THE FORM */

.content-box {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 45%;
    margin: 3em auto;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }

  /* STYLING THE FORM  CONTENT */

.password-message {
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    margin-left: 4em;
    width: 75%;
    border-radius: 0 0 5px 5px;
  
  }

  /* STYLING THE ENTER EMAIL TEXT */



  img {
    width: 40px;
    margin-right: 2.5%;
    
  } 


.line-one {
  margin-left: 3em;
  line-height: 5px;
}

.line-two {
  margin-left: 3em;
  line-height: 5px;
}

.sms {
  padding-top: 18px;
 
}


.contact-support {
  padding-top: 3.75em;
  margin-left: 0.3em;

}

a {
  color: #FF7C44;
  text-decoration: none;
  
}

.signin {
padding-top: 40px;
padding-bottom: 3.75em;

}

/* .bi-check-circle {
  
  color:#22BB28;
  margin-right: 2%;
  font-size: 1.3em;
 
  

} */





/* .bi-envelope {
  color: #216FD1 ;
  margin-right: 2%;
  font-size: 1.3em;
  
  
} */




/* RESPONSIVE STYLINGS */

@media screen and (min-width: 327px) and (max-width: 480px) {
  
}
