* {
    margin: 0;
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .breadcrumbs {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .breadcrumbs a {
    margin: 0 10px;
    text-decoration: none;
    color: #262322;
  }
  
  .breadcrumbs .first {
    margin-left: 0;
  }
  
  .banner {
    background: url("../assets/kitchen-hero.png")
      no-repeat center center / cover;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .banner h1{
    font-size: 56px;
    margin-bottom: 2rem;
  }
  .banner p{
    font-size: 16px;
  }
  
  main {
    margin: 25px 0;
    display: flex;
  }
  
  .left {
    min-height: 655px;
    width: 250px;
    color: #fff;
    margin-right: 1rem;
  }
  
  .left .img {
    min-height: 555px;
    background: url("../assets/PEPSI\ 1.png");
    /* text-align: center; */
  }
  .img {
    padding-top: 5rem;
    text-align: center;
  }
  
  .img h2 {
    display: inline-block;
    border-bottom: 6px solid red;
  }
  
  .right {
    flex: 1;
    /* background: red; */
    /* margin-left: 3rem; */
    /* margin-left: auto;
    margin-right: auto; */
  }
  
  .slider-box {
    background: #ddd;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .slider-display-container {
    display: flex;
    margin-top: 10px;
  }
  
  .slider-display-container > button {
    flex: 1;
    margin-right: 5px;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  .min-max-slider {
    position: relative;
    width: 200px;
    text-align: center;
  }
  .min-max-slider > label {
    display: none;
  }
  span.value {
    height: 1.7em;
    font-weight: bold;
    display: inline-block;
  }
  span.value.lower::before {
    content: "₦";
    display: inline-block;
  }
  span.value.upper::before {
    content: "- ₦";
    display: inline-block;
    margin-left: 0.4em;
  }
  .min-max-slider > .legend {
    display: flex;
    justify-content: space-between;
  }
  .min-max-slider > .legend > * {
    font-size: small;
    opacity: 0.25;
    visibility: hidden;
  }
  .min-max-slider > input {
    cursor: pointer;
    position: absolute;
  }
  
  /* webkit specific styling */
  .min-max-slider > input {
    -webkit-appearance: none;
    outline: none !important;
    background: transparent;
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 30%,
      silver 30%,
      silver 60%,
      transparent 60%,
      transparent 100%
    );
  }
  .min-max-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #ff7c44; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: 1px solid #ff7c44;
    border-radius: 100%;
  }
  .min-max-slider > input::-webkit-slider-runnable-track {
    cursor: pointer;
  }
  
  .right-nav {
    background-color: #e9e9e9;
  }
  
  .right-nav > div {
    flex: 1;
  }
  
  .right-nav input {
    max-width: 289px;
    height: 32px;
    outline: none;
  }
  
  .img-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
  }
  
  .input-wrap {
    position: relative;
  }
  .icon-search {
    position: absolute;
    left: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .card {
    padding: 15px;
    transition: all .3s;
  }
  .card:hover {
    transform: scale(1.05);
    cursor: pointer;
    }
  
  .love-icon {
    display: block;
    margin-left: auto;
    margin-bottom: 2rem;
  }
  .card-second-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    margin-left: 5rem;
  }
  .banner-2 {
    background: url("../assets/pepsi\ advert.jpg")
      no-repeat center center / cover;
    text-align: center;
    height: 30vh;
    color: #fff;
    width: 100%;
    margin-top: 1rem;
  }
  .bottom-number {
    display: flex;
    justify-content: center;
  }
  
  .bottom-number > div {
    padding: 0 10px;
  }
  
  
  @media screen and (max-width: 1024px) {
    .banner{
      height: 50vh;
    }
    
  }
  @media screen and (max-width: 700px) {
    .banner{
      height: 40vh;
    }
    .banner h1{
      font-size: 48px;
    }
    
  }
  @media screen and (max-width: 480px) {
    .img-cards{
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;
    }
    .card-second-image{
      width: 70%;
      margin-left: 10px;
    }
    .banner{
      height: 30vh;
    }
    .banner h1{
      font-size: 24px;
      margin-bottom: 1rem;
    }
    .banner p{
      font-size: 14px;
    }
    .banner-2{
      height: 25vh;
    }
  }