* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  
  
  
  body {
    font-family: "Roboto";
    color: rgba(38, 35, 34, 0.7)
  }
  
  /* FORGOT PASSWORD STYLING */
  
  .forgot-passwrd {
    font-size: 1.2em;
    font-weight: 700;
    margin: 4rem 20em 1rem;
  }


body {
  font-weight: 400;
  font-family: "Roboto";
}

/* FORGOT PASSWORD STYLING */

.forgot-passwrd {
  font-size: 1.2em;
  font-weight: 700;
  margin: 9rem 20em 1rem;
  color: #262322;
}

/* STYLING THE BOX SURROUNDING THE FORM */

.content-box {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 45%;
  margin: 3em auto;
  border-radius: 8px;
  align-items: center;
  justify-content: center;

}

/* STYLING THE FORM  CONTENT */

.password-message {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
  margin-left: 4em;
  width: 75%;
  color: #262322;
  border-radius: 0 0 5px 5px;
}

/* STYLING THE ENTER EMAIL TEXT */

.password-message img {
  width: 40px;
  height: 40px;
  margin-right: 2.5%;
}

.tick-circle {
  display: flex;
  padding-bottom: 20px;
}

.sms {
  padding-top: 18px;
  display: flex;
}

.contact-support {
  padding-top: 3.75em;
  margin-left: 0.3em;
}

a {
  color: #ff7c44;
  text-decoration: none;
}

.signin {
  padding-top: 40px;
  padding-bottom: 3.75em;
}


/* RESPONSIVE STYLINGS */

@media screen and (min-width: 310px) and (max-width: 410px) {


  .forgot-passwrd {
    margin: 4rem 0.5em 0em 1em;
    padding-top: 2em;
    font-weight: 700;
    font-size: 1em;
  }

  .content-box {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
    margin-top: 10px;
    margin-left: -3em;
  }

  .password-message {
    font-size: 0.85em;
    padding-top: 6%;
    width: 90%;
    border-radius: 0 0 5px 5px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }

  .contact-support {
    font-size: 0.95em;
  }

  .signin {
    font-size: 0.95em;
  }
}

@media screen and (min-width: 411px) and (max-width: 600px) {
  .forgot-passwrd {
    margin: 4rem 5em 2em;
    padding-top: 2em;
    font-weight: 400;
    font-size: 1em;
  }

  .content-box {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
    border: none;
    margin-top: 10px;
    /* margin-left: -3em;   */
  }

  .password-message {
    font-size: 0.9em;
    padding-top: 6%;
    margin-left: 1em;
    width: 90%;
    border-radius: 0 0 5px 5px;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  .content-box {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
    border-radius: ;
    margin-top: 10px;
    /* margin-left: -3em;   */
  }

  .forgot-passwrd {
    margin: 4rem 0.5em 0em 4em;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }

  .password-message {
    padding-top: 6%;
    margin-left: 3em;
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .forgot-passwrd {
    margin: 4rem 10em 0em;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }

  .content-box {
    width: 70%;
    box-shadow: none;
    margin-top: 10px;
  }

  

  .password-message {
    padding-top: 6%;
    margin-left: 3em;
    width: 80%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {


  .forgot-passwrd {
    margin: 2rem 13em 1em;
    padding-top: 2em;
    padding-bottom: 1.5em;
  }



  .content-box {
    width: 55%; 
    margin-top: 10px;
    }
}
