* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: "Roboto", sans-serif;
}


main {
  margin-top: 9em ;
}

/* FORGOT PASSWORD STYLING */

.forgot-password {
  font-size: 1.2em;
  margin: 4rem 23em 1rem;
}

/* STYLING THE BOX SURROUNDING THE FORM */

.form-container {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 40%;
  margin: 2em auto;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 35px; */
}


/* STYLING THE FORM  CONTENT */

.form-box {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
  margin-left: 17%;
  width: 80%;
  border-radius: 8px;

}

/* STYLING THE ENTER EMAIL TEXT */

.enter-email {
  color: #262322;
  font-size: 1em;
  padding-bottom: 5%;
  line-height: 24px;
}


/* FONT SIZE FOR THE LABEL EMAIL */

label {
    font-size: 0.9em;
  }


/* STYLING THE EMAIL INPUT FIELD */

#email {
  width: 75%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #262322;
  line-height: 30px;
  outline: none;
}

/* WHEN A USER CLICKS ON THE EMAIL INPUT FIELD */

#email:focus {
  border: 1px solid gray;
}

/* STYLING THE EMAIL PLACEHOLDER  */

::placeholder {
  font-size: 0.8em;
  padding-left: 2%;
}

/* RESET PASSWORD BUTTON */

.resetpassword {
  margin-top: 10%;
}

#reset {
  width: 75%;
  outline: none;
  border: none;
  background-color: #ff7c44;
  color: #ffffff;
  padding: 7px 0;
  border-radius: 5px;
  font-size: 0.8em;
}


/* BACK TO SIGN IN PPROMPT */

.sign-in {
  margin: 10% 25%;
  font-size: 1em;
  line-height: 30px;


}
.sign-in span {
  color: #262322;
}

.sign-in a {
  color: #ff7c44;
  text-decoration: none;
}





/* STYLING THE RESPONSIVENESS OF THE FORM BOX  */

@media screen and (min-width: 310px) and (max-width: 410px) {


 

  .forgot-password {
    font-size: 1.2em;
    margin: 4rem 2em 0em;
    font-weight: 400;
  }

  .form-container {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.27em;
    margin: 1em auto;
    
    
  }

  .form-box {
    margin-left: 11%;
  }
  

  .enter-email {
    font-size: 0.7em;
    line-height: 20px;
  }

  label {
    font-size: 0.7em;

  }


  .password-message {
    font-size: 0.85em;
    padding-top: 6%;
    width: 90%;
    border-radius: 0 0 5px 5px;
  }

  #email {
    width: 100%;
  }

  ::placeholder {
    padding-left: 3.5%;
    font-size: 0.65em;
  }

  #reset {
    padding: 5px 0;
    font-size: 0.7em;
    width: 100%;
  }

  .sign-in {
    font-size: 0.7em;
    margin: 10% 20%;
  }
}

@media screen and (min-width: 411px) and (max-width: 600px) {
  .forgot-password {
    font-weight: 400;
    font-size: 1.2em;
    margin: 4rem 2.5em 0em;
  }

  .form-container {
    width: 100%;
    border: none;
  }

  .form-box {
    margin-left: 10%;
  }

  .enter-email {
    font-size: 1em;
  }


  label {
    font-size: 1em;
  }

  #email {
    width: 100%;
  }

  ::placeholder {
    font-size: 0.9em;
  }

  #reset {
    width: 100%;
    font-size: 1em;
  }

  .sign-in {
    font-size: 1em;
   
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .forgot-password {
    font-size: 1.2rem;
    margin: 4rem 6em 2rem;
    font-weight: 400;
  }

  .form-container {
    width: 70%;
  }

  .form-box {
    margin-left: 10%;
    width: 90%;
  }

  .enter-email {
    font-size: 1em;
    width: 90%;
    
  }

  label {
    font-size: 1em;
  }

  #email {
    width: 90%;
  }

  ::placeholder {
    font-size: 0.9em;
    padding-left: 3%;
  }

  #reset {
    width: 90%;
  }

  
  .sign-in {
    font-size: 1em;
  }



}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .forgot-password {
        font-size: 1.2em;
        margin: 4rem 14em 2rem;
      }

      .form-container {
        width: 50%;
        
      }

      .form-box {
        width: 85%;
        margin-left: 11%;
      }
    
      .enter-email {
        width: 85%;
        font-size: 1em;
        
      }
    
      label {
        font-size: 1em;

      }
    
      #email {
        width: 85%;
      }

    
      #reset {
        width: 85%;
      }
    
      
      .sign-in {
        font-size: 0.9em;
      }

}
  
