* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
main{
  margin-top: 30px;
  
}


footer{
  margin-top: 150px;
}



/* STYLING THE BOX AROUND THE MAIN CONTENT  */

.wishlist-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 1.17px 1.17px rgba(0, 0, 0, 0.25);
  border-radius: 0px 5.84999px 5.84999px 0px;
  padding: 250px 0 200px 0;
  margin: auto;
}

.wishlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wishlist-content img{
  width: 20rem;
  opacity: 0.3;
}


/* STYLING THE MAIN TEXT (h2) IN THE BOX */

.empty {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: #262322;
  font-size: "Roboto", sans-serif;
}

/* STYLING THE P TAG TEXT IN THE BOX */

.tap-here {
  font-size: 20;
  padding-top: 1%;
  padding-bottom: 5%;
  color: rgba(38, 35, 34, 0.7);
}

/* STYLING THE ADD NOW BUTTON IN THE BOX */

.add.now {
  background-color: #ff7c44;
  border-radius: 5px;
  color: white;
  padding: 2%;
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
}

/* WHEN USERS HOVER THE ADD NOW BUTTON IN THE BOX */

.add.now:hover {
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s ease-in;
}


/* STYLING THE RESPONSIVENESS OF THE BOX */



@media screen and (min-width: 320px) and (max-width: 390px) {

  .wishlist-container{
    width: 90%;
    height: 70%;


  }

  .wishlist-content img{
    width: 16rem;
    
  }


  .empty {
    font-size: 1em;
  
  }

  .tap-here {
    font-size: 0.7em;
  }

  .add.now {
    font-size: 0.8rem;
    
  }

}

@media screen and (min-width: 391px) and (max-width: 600px)
{



  .wishlist-container{
    width: 85%;
    height: 80%;

  }

  .empty {
    font-size: 1em;
  
  }

  .tap-here {
    font-size: 0.7em;
    text-align: center;
  }

  .add.now {
    font-size: 0.9rem;
    
  }



}

 /* @media screen and (min-width: 441px) and (max-width: 600px) {
  .empty {
    font-size: 1.2em;
  
  }

  .tap-here {
    font-size: 0.7em;
  }
} */


@media screen and (min-width: 601px) and (max-width: 991px) {

  .wishlist-container{
    width: 90%;
    height: 80%;

  }

  .empty {
    font-size: 1.5em;
  
  }

  .tap-here {
    font-size: 0.9em;
  }
}

  

  /* @media screen and (min-width: 992px) and (max-width: 1199px) {
    #wishlist-box {
      padding-right: 100px; 
       

    }
  


} */

